/* Common style for logged-in and non-logged-in scenario */

/* New alternate landing page for msm - new14 - Manthan */
.heading-new14 {
  background-color: #53637d;
  background: url(../imagesMSM/msm-home-hero-2.jpg) no-repeat 50% 0%;
  background-size: cover;
  background-position: center;
}
/* New alternate landing page for msm - new15 - Manthan */
.msm-home-question-text {
  font-size: 28px;
  font-weight: 400;
  color: #000;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.msm-home-answers-cont {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.msm-home-answer-button {
  max-width: 220px;
  height: auto;
  margin: 10px 5px;
  margin-top: 0;
  white-space: normal !important;
  word-wrap: break-word !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #ffffff;
  background: #FF871C;
  border-bottom: 2px solid #86470F;
  border-right: 2px solid #86470F;
  border-left: 2px solid #FFA759;
  border-top: 2px solid #FFA759;
}
.msm-home-answer-button:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.msm-home-answer-button:active, .msm-home-answer-button:focus {
  color: #fff;
  background-color:#29c36a;
  border-color: #209b53;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .msm-home-question-text {
    font-size: 26px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .msm-home-question-text {
    font-size: 24px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .msm-home-question-text {
    font-size: 22px;
  }
}
@media (max-width: 575.98px) {
  .msm-home-question-text {
    font-size: 22px;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .msm-home-answers-cont {
    padding-bottom: 20px;
  }
  .msm-home-answer-button {
    max-width: none;
    margin: 10px 0px;
    margin-top: 0;
  }
}
.signup-block {
  /*box-shadow: none !important;*/
box-shadow:inset 0px -1px 0px 1px #d0c4c4  !important;
}
/* New dashboard for MSM - Manthan */
.MSM-dash-small-heading-span {
  width: 100%;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  display: block;
}
.MSM-dash-spacing {
  margin: 25px auto;
}
.MSM-jumbo-col {
  margin-top: 20px;
  margin-bottom: 10px;
}
.MSM-jumbo-heading {
  line-height: 1.3;
  font-size: 56px !important;
  margin-top: 0px;
  color: #333 !important;
  text-align: center;
}
.MSM-jumbo-subheading {
  line-height: 1.3;
  font-size: 20px !important;
  color: #333;
  text-align: center;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .MSM-jumbo-heading {
    font-size: 48px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .MSM-jumbo-heading {
    font-size: 38px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .MSM-jumbo-heading {
    font-size: 32px !important;
  }
  .MSM-jumbo-subheading {
    font-size: 18px !important;
  }
}
@media (max-width: 575.98px) {
  .MSM-jumbo-heading {
    font-size: 28px !important;
  }
  .MSM-jumbo-subheading {
    font-size: 18px !important;
  }
}
.MSM-jumbo-icon {
  float: left;
  margin-top: 2px;
}
.MSM-jumbo-bullet-point {
  font-size: 16px;
  font-weight: 400;
  float: left;
  width: 80%;
  padding-left: 16px;
  color: #000;
}
img.MSM-jumbo-chrome-icon {
  margin: 0;
  margin-right: 16px;
}
.MSM-add-to-chrome-button:link, .MSM-add-to-chrome-button:visited {
  width: 240px !important;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  -webkit-transition: all .2s;
  transition: .2s;
  font-weight: 600;
  color: #ffffff;
  background: #FF871C;
  border-bottom: 2px solid #86470F;
  border-right: 2px solid #86470F;
  border-left: 2px solid #FFA759;
  border-top: 2px solid #FFA759;
}
.MSM-add-to-chrome-button:hover {
  background-color: #ec971f;
  border-color: #d58512;
  outline: none;
}
.MSM-add-to-chrome-button:active, .MSM-add-to-chrome-button:focus {
  background-color: #29c36a;
  border-color: #209b53;
}
.MSM-dash-question-cont {
  border: 1px solid #4056A2;
  margin-bottom: 20px;
  border-radius: 6px;
}
.MSM-dash-question-cont h2 {
  text-align: center;
  color: #ffffff;
  background: #4056A2;
  margin: 0;
  padding: 15px 20px;
  font-size: 24px;
  font-weight: 500;
}
.MSM-dash-question-box {
  padding: 10px;
}
.MSM-dash-ticket-cont {
  border: 1px solid #4056A2;
  border-radius: 6px;
}
.MSM-dash-ticket-box {
  padding: 20px 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
a.MSM-dash-ticket-link {
  background: url("../imagesMSM/raffle-ticket-image.png") no-repeat left top;
  width: 235px;
  height: 150px;
  padding: 16px;
  margin: 8px;
  text-align: center;
  white-space: normal !important;
  word-wrap: break-word !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #000;
}
a.MSM-dash-ticket-link:hover {
  color: #000;
}
.progress {
  height: 22px;
  width: 100%;
  background-color: #c9c9c9;
  position: relative;
}
.progress:before {
  content: attr(data-label);
  font-size: 14px;
  position: absolute;
  text-align: center;
  color: #fff;;
  top: 0;
  left: 0;
  right: 0;
}
.progress .value {
  background-color: #4056A2;
  display: inline-block;
  height: 100%;
}
.MSM-dash-email-cont {
  border: 1px solid rgba(64, 86, 162, .4);
  border-radius: 6px;
  padding: 30px 10px;
}
.MSM-dash-email-box {
  max-width: 80%;
  margin: 0 auto;
}
.MSM-dash-email-heading {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .MSM-dash-email-heading {
    font-size: 26px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .MSM-dash-email-box {
    max-width: 85%;
  }
  .MSM-dash-email-heading {
    font-size: 24px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .MSM-dash-email-box {
    max-width: 90%;
  }
  .MSM-dash-email-heading {
    font-size: 22px;
  }
}
@media (max-width: 575.98px) {
  .MSM-dash-email-box {
    max-width: 100%;
  }
  .MSM-dash-email-heading {
    font-size: 22px;
  }
}
.MSM-dash-main-heading {
  font-size: 32px;
  font-weight: 700;
  color: #333333;
  line-height: 1.5em;
  margin: 20px 0 20px 0;
  text-align: center;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .MSM-dash-main-heading {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .MSM-dash-main-heading {
    font-size: 28px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .MSM-dash-main-heading {
    font-size: 26px;
  }
}
@media (max-width: 575.98px) {
  .MSM-dash-main-heading {
    font-size: 24px;
  }
}
.MSM-dash-row-flex {
  display: flex;
  flex-wrap: wrap;
}
.MSM-dash-offer-col {
  margin-bottom: 30px;
}
.MSM-dash-offer-box {
  width: 100%;
  height: 100%;
  border: 1px solid #e1e5ee;
  border-radius: 6px;
}
.MSM-dash-offer-image {
  border-bottom: 1px solid #e1e5ee;
}
.MSM-dash-offer-image img {
  /* width: 100%; */
  border-radius: 6px 6px 0 0;
  text-align: center;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .MSM-dash-offer-image img {
    max-width: 300px;
  }
}
.MSM-dash-offer-content {
  padding: 16px 16px;
}
.MSM-dash-offer-cashback {
  padding: 10px 0 0 0;
  color: #666666;
  font-weight: 400;
  font-size: 16px;
}
.MSM-dash-offer-heading {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #333333;
}
a.MSM-dash-offer-heading:hover {
  color: #4056A2;
}
@media (max-width: 575.98px) {
  .MSM-dash-offer-content {
    padding: 16px 10px;
  }
  a.MSM-dash-offer-heading {
    font-size: 16px;
  }
}
.MSM-view-button:link, .MSM-view-button:visited  {
  width: 240px;
  height: auto;
  font-weight: 600;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #445e93;
  border-color: #445e93;
  color: #ffffff;
  -webkit-transition: all .2s;
  transition: .2s;
}
.MSM-view-button:hover, .MSM-view-button:focus  {
  background-color: #31456c;
  border-color: #31456c;
  outline: none;
}
.MSM-dash-frd-referal {
  background: #E3E3E3 !important;
  padding: 20px 0 40px;
  text-align: center;
  margin-top: 20px;
}
/* Store Details page for MSM - Manthan */
.MSM-dash-store-cont {
  border: 1px solid #e1e5ee;
  border-radius: 6px;
}
.MSM-dash-store-cont img {
  border-radius: 6px 6px 0 0;
}
.MSM-dash-store-offers-box {
  border: 1px solid #e1e5ee;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.MSM-dash-store-offers-content {
  width: 100%;
  margin-right: 16px;
}
.MSM-claim-button:link, .MSM-claim-button:visited  {
  width: 240px;
  height: auto;
  font-weight: 600;
  margin: 0 auto;
  border-radius: 6px;
  -webkit-transition: all .2s;
  transition: .2s;
  color: #ffffff;
  background: #FF871C;
  border-bottom: 2px solid #86470F;
  border-right: 2px solid #86470F;
  border-left: 2px solid #FFA759;
  border-top: 2px solid #FFA759;
}
.MSM-claim-button:hover, .MSM-claim-button:focus  {
  background-color: #ec971f;
  border-color: #d58512;
  outline: none;
}
.MSM-claim-button:active  {
  background-color: #29c36a;
  border-color: #209b53;
}
@media (max-width: 575.98px) {
  .MSM-dash-store-offers-box {
    flex-flow: column;
    align-items: flex-start;
  }
  .MSM-claim-button:link {
    margin: 0;
    margin-top: 16px;
  }
}
/* New Leader board Style for MSM - Manthan */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #0f723a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  transition: all .4s;
}
.nav-pills .nav-link.active:hover, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #0b562c;
}
.nav-pills .nav-link {
  border-radius: .25rem;
  background-color: #e4e4ec;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #004b64;
  transition: all .4s;
}
.nav-pills .nav-link:hover {
  background-color: #c9c9cf;
  color: #004b64;
}
.nav-pills .nav-link-time {
  border-radius: .25rem;
  background-color: #ffffff;
  border: 1px solid #e4e4ec;
  color: #333333 !important;
  margin-right: 0;
}
.nav-pills .nav-link-time:hover {
  background-color: #ffffff;
  color: #333333 !important;
}
@media (max-width: 575.98px) {
  .nav-pills .nav-link {
    margin-right: 0px;
    text-align: center;
  }
}
.table .lvl-thead-dark th {
  background-color: #004354 !important;
}
.table td, .table th {
  color: #333333;
}
.lvl-user-avatar-cont {
  width: 42px;
  height: 42px;
  float: left;
  margin-right: .5rem;
}
.lvl-user-info-cont {
  width: calc(100% - 50px);
  float: left;
}
.legendtable {
  color: #333333;
}
span.lvl-font-red {
  color: #d90000;
}
a.lvl-user-name-link {
  color: #007bff;
  font-weight: 600;
}
a.lvl-user-name-link:hover, a.lvl-user-name-link:focus {
  color: #007bff;
  background-color: rgba(0,0,0,0);
}
.lvl-user-location {
  font-size: 12px;
  color: #666666;
  padding-top: -5px;
  text-transform: uppercase;
}
h5.modal-title {
  margin: 0;
  font-weight: 500;
  color: #333333;
}
.lvl-user-name-modal {
  font-size: 22px;
  font-weight: 600;
  color: #333333;
  padding-top: 8px;
}
.lvl-badges-cont {
  border-radius: 6px;
  background-color: #f6f6fa;
  padding: 8px;
  margin-top: 1rem;
}
.lvl-badges-heading {
  font-size: 14px;
  color: #050505;
}
.lvl-badges {
  padding-top: 10px;
}
.lvl-badge-image {
  width: 92px;
  height: 82px;
  margin-bottom: 10px;
}
@media (max-width: 575.98px) {
  .lvl-badge-image {
    width: 80px;
    height: 70px;
  }
}
@media (max-width: 355.98px) {
  .lvl-badge-image {
    width: 60px;
    height: 53px;
  }
}
.lvl-user-points-modal {
  border-radius: 6px;
  background-color: #004354;
  padding: .75rem 1rem;
  margin-top: 1rem;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
}
@media (max-width: 575.98px) {
  .lvl-user-points-modal {
    font-size: 36px;
  }
}
@media (max-width: 365.98px) {
  .lvl-user-points-modal {
    font-size: 30px;
  }
}
/* START - Set of 26 Colors Avatar - Manthan */
.lvl-avatar-A, .lvl-avatar-B, .lvl-avatar-C, .lvl-avatar-D, .lvl-avatar-E, .lvl-avatar-F, .lvl-avatar-G, .lvl-avatar-H, .lvl-avatar-I, .lvl-avatar-J,
.lvl-avatar-K, .lvl-avatar-L, .lvl-avatar-M, .lvl-avatar-N, .lvl-avatar-O, .lvl-avatar-P, .lvl-avatar-Q, .lvl-avatar-R, .lvl-avatar-S, .lvl-avatar-T,
.lvl-avatar-U, .lvl-avatar-V, .lvl-avatar-W, .lvl-avatar-X, .lvl-avatar-Y, .lvl-avatar-Z, .lvl-avatar-1 {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* line-height: 40px; */
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #666666;
  background-image: linear-gradient(45deg, rgba(0,0,0,.4), transparent);
}
.lvl-avatar-A:hover, .lvl-avatar-B:hover, .lvl-avatar-C:hover, .lvl-avatar-D:hover, .lvl-avatar-E:hover, .lvl-avatar-F:hover, .lvl-avatar-G:hover, .lvl-avatar-H:hover, .lvl-avatar-I:hover, .lvl-avatar-J:hover,
.lvl-avatar-K:hover, .lvl-avatar-L:hover, .lvl-avatar-M:hover, .lvl-avatar-N:hover, .lvl-avatar-O:hover, .lvl-avatar-P:hover, .lvl-avatar-Q:hover, .lvl-avatar-R:hover, .lvl-avatar-S:hover, .lvl-avatar-T:hover,
.lvl-avatar-U:hover, .lvl-avatar-V:hover, .lvl-avatar-W:hover, .lvl-avatar-X:hover, .lvl-avatar-Y:hover, .lvl-avatar-Z:hover, .lvl-avatar-1:hover,
.lvl-avatar-A:focus, .lvl-avatar-B:focus, .lvl-avatar-C:focus, .lvl-avatar-D:focus, .lvl-avatar-E:focus, .lvl-avatar-F:focus, .lvl-avatar-G:focus, .lvl-avatar-H:focus, .lvl-avatar-I:focus, .lvl-avatar-J:focus,
.lvl-avatar-K:focus, .lvl-avatar-L:focus, .lvl-avatar-M:focus, .lvl-avatar-N:focus, .lvl-avatar-O:focus, .lvl-avatar-P:focus, .lvl-avatar-Q:focus, .lvl-avatar-R:focus, .lvl-avatar-S:focus, .lvl-avatar-T:focus,
.lvl-avatar-U:focus, .lvl-avatar-V:focus, .lvl-avatar-W:focus, .lvl-avatar-X:focus, .lvl-avatar-Y:focus, .lvl-avatar-Z:focus, .lvl-avatar-1:focus {
  text-decoration: none;
  color: #ffffff;
}
.lvl-avatar-A, .lvl-avatar-A:hover, .lvl-avatar-A:focus { background-color: #0000CD; }
.lvl-avatar-B, .lvl-avatar-B:hover, .lvl-avatar-B:focus { background-color: #7B68EE; }
.lvl-avatar-C, .lvl-avatar-C:hover, .lvl-avatar-C:focus { background-color: #4169E1; }
.lvl-avatar-D, .lvl-avatar-D:hover, .lvl-avatar-D:focus { background-color: #4682B4; }
.lvl-avatar-E, .lvl-avatar-E:hover, .lvl-avatar-E:focus { background-color: #1E90FF; }
.lvl-avatar-F, .lvl-avatar-F:hover, .lvl-avatar-F:focus { background-color: #00BFFF; }
.lvl-avatar-G, .lvl-avatar-G:hover, .lvl-avatar-G:focus { background-color: #008080; }
.lvl-avatar-H, .lvl-avatar-H:hover, .lvl-avatar-H:focus { background-color: #48D1CC; }
.lvl-avatar-I, .lvl-avatar-I:hover, .lvl-avatar-I:focus { background-color: #808000; }
.lvl-avatar-J, .lvl-avatar-J:hover, .lvl-avatar-J:focus { background-color: #2E8B57; }
.lvl-avatar-K, .lvl-avatar-K:hover, .lvl-avatar-K:focus { background-color: #00FF7F; }
.lvl-avatar-L, .lvl-avatar-L:hover, .lvl-avatar-L:focus { background-color: #228B22; }
.lvl-avatar-M, .lvl-avatar-M:hover, .lvl-avatar-M:focus { background-color: #32CD32; }
.lvl-avatar-N, .lvl-avatar-N:hover, .lvl-avatar-N:focus { background-color: #FF4500; }
.lvl-avatar-O, .lvl-avatar-O:hover, .lvl-avatar-O:focus { background-color: #FF7F50; }
.lvl-avatar-P, .lvl-avatar-P:hover, .lvl-avatar-P:focus { background-color: #B22222; }
.lvl-avatar-Q, .lvl-avatar-Q:hover, .lvl-avatar-Q:focus { background-color: #8B0000; }
.lvl-avatar-R, .lvl-avatar-R:hover, .lvl-avatar-R:focus { background-color: #DC143C; }
.lvl-avatar-S, .lvl-avatar-S:hover, .lvl-avatar-S:focus { background-color: #4B0082; }
.lvl-avatar-T, .lvl-avatar-T:hover, .lvl-avatar-T:focus { background-color: #800080; }
.lvl-avatar-U, .lvl-avatar-U:hover, .lvl-avatar-U:focus { background-color: #9932CC; }
.lvl-avatar-V, .lvl-avatar-V:hover, .lvl-avatar-V:focus { background-color: #FF00FF; }
.lvl-avatar-W, .lvl-avatar-W:hover, .lvl-avatar-W:focus { background-color: #DDA0DD; }
.lvl-avatar-X, .lvl-avatar-X:hover, .lvl-avatar-X:focus { background-color: #2F4F4F; }
.lvl-avatar-Y, .lvl-avatar-Y:hover, .lvl-avatar-Y:focus { background-color: #C71585; }
.lvl-avatar-Z, .lvl-avatar-Z:hover, .lvl-avatar-Z:focus { background-color: #FF1493; }
.lvl-avatar-1, .lvl-avatar-1:hover, .lvl-avatar-1:focus { background-color: #FF69B4; }
/* END - Set of 26 Colors Avatar */

/* START - Membership Level Borders with Images - Manthan */
.lvl-avatar-image-bronze, .lvl-avatar-image-silver, .lvl-avatar-image-gold {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #666666;
}
.lvl-level-bronze, .lvl-avatar-image-bronze {
  border: 3px solid #cd7f32;
}
.lvl-level-silver, .lvl-avatar-image-silver {
  border: 3px solid #c0c0c0;
}
.lvl-level-gold, .lvl-avatar-image-gold {
  border: 3px solid #ffd700;
}
/* these classes added for not supporting bootstrap 4 after logged in pages */
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  color: #fff !important;
  background-color: #5a6268;
  border-color: #545b62;
}
/* END - Membership Level Border with Images */
/* START - Second interstitial page styles for Poll Sweepstakes Entry */
.MSM-interstitial-question {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding-bottom: 8px;
  text-align: center;
}
.MSM-interstitial-answer span {
  font-size: 14px;
  font-weight: 400;
  padding-right: 8px;
}
.MSM-interstitial-answer {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  padding-bottom: 10px;
  text-align: center;
}
.MSM-interstitial-heading-box {
  text-align: center;
  color: #000;
  background-color: #f1f3fd;
  padding: 10px;
  border-radius: 6px;
}
.MSM-interstitial-heading {
  font-size: 20px;
  font-weight: 700;
  color: #4056A2;
}
.MSM-interstitial-timer-box {
  margin: 0 auto;
  max-width: 520px;
  margin-top: 20px;
}
.MSM-interstitial-progress-bar-outer {
  height: 8px;
  border-radius: 6px;
  background-color: #FFF;
}
.MSM-interstitial-progress-bar {
  width: 100%;
  float: right;
  height: 8px;
  border-radius: 6px;
  background-color: #4bb543;
}
.MSM-interstitial-timer {
  font-size: 15px;
  font-weight: 700;
  padding-top: 4px;
}
.MSM-interstitial-day-box {
  display: flex;
  justify-content:space-evenly;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  background-color: #f1f3fd;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
  text-align: center;
}
.MSM-interstitial-day-item {
  display: flex;
  flex-direction: column;
}
.MSM-interstitial-day-item img {
  padding-bottom: 8px;
}
.MSM-interstitial-streak-box {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
}
.MSM-interstitial-streak-number {
  width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #000;
  letter-spacing: 3px;
  padding: 8px;
  text-align: center;
  border-right: 1px solid #e5e5e5;
}
.MSM-interstitial-streak-number p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 0;
}
.MSM-interstitial-streak-text {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  padding: 8px;
}
@media (max-width: 575.98px) {
  .MSM-interstitial-heading-box {
    padding: 6px;
  }
  .MSM-interstitial-timer-box {
    margin-top: 8px;
  }
  .MSM-interstitial-heading {
    font-size: 16px;
  }
  .MSM-interstitial-question {
    font-size: 15px;
    text-align: center;
  }
  .MSM-interstitial-answer {
    font-size: 18px;
    text-align: center;
  }
  .MSM-interstitial-streak-number {
    font-size: 24px;
  }
  .MSM-interstitial-streak-text {
    font-size: 18px;
    font-weight: 400;
    color: #000;
  }
}
/* ENd - Second interstitial page styles for Poll Sweepstakes Entry */