 
h4
    {
        font-size:23px;
        margin: 10px 0;
    }
    p
    {
      margin: 0 0 10px
    }
    body
    {
        font-size:14px;
    font-family: 'Raleway', sans-serif;
    background: #FFF;
    font-weight: 300;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #94a3a8;}
    
       .iff-campaign-container .rounded
{
    -webkit-border-radius: 5px 0 5px 5px;
    -moz-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
}
.iff-campaign-container .red
{
    background: #337ab7;
}
.iff-campaign-container
{
    position: relative;
    padding: 1em 0em 1em 1em !important;
    margin: 5px auto;
    color: #fff;
    font-weight: normal;
    background: #337ab7;
    overflow: hidden;
    -webkit-border-radius: 5px 0 5px 5px;
    -moz-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
}
.iff-roleup {
    height: auto;
}
@media only screen and (max-width: 480px) {
    .iff-campaign-container {
        padding: 1em 0em 1em 1em !important;
        margin: 5px auto !important;
    }
}
.iff-campaign-container .rounded:before
{
    border-width: 8px;
    border-color: #fff #fff transparent transparent;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}
.iff-campaign-container .red:before
{
    border-color: #fff #fff #a8deec #a8deec;
    background: #97010A;
}
.iff-campaign-container:before
{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #fff #fff #a8deec #a8deec;
    background: #337ab7;
    display: block;
    width: 0; /* Optional: shadow; */
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
}

 .iff-cqlabel
 {color:#FFF;}


@media (max-width: 994px){
.bulletin, .footercontent, .footercontent .copyinfo, .zigzag p, .zigzag-lead {
    text-align: center;}}

@media (max-width: 768px){
   
    .autosetmenu {
        display: none !important;
        top: 15px;

    }
    .autohidesetmenu {
        display: block !important;
         
    }
    
}
@media (max-width: 993px){
   
    .fotermanager {
        width:100%;

    }
     
    
}




 

 
 
 